h1 {
    font-size:100px;
    color:white;
    background:chartreuse;
    padding-left:30px;
}

p {
    font-size:60px;
    padding-left:30px;
    padding-right:30px;
}

input {
    float:left;
    margin:50px 30px;
    padding:50px 50px;
    font-size:170px;
    color:aquamarine;
    background:lightsteelblue;
    
}

h2 {
    font-size:50px;
    text-align:center;
    padding:0px 0;
}
